.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading{
  margin-top: 3%  !important;
}
.details-card{
  border-top: 1px solid #bfbfbf ;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.copyright{
  display: flex;
  font-size: 16px;
  color: rgb(35, 33, 33);
}
.icons-card{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
}
.mail{
  font-size: 16px !important;
}